# Database
DATABASE_URL=""

# ORIGIN="http://localhost:5173"
ORIGIN="http://127.0.0.1:3000"

HOST=127.0.0.1
PORT=3000

# Auth
BETTER_AUTH_SECRET=""

# BETTER_AUTH_URL="http://localhost:5173/"

GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

DISCORD_CLIENT_ID=""
DISCORD_CLIENT_SECRET=""


UPLOADTHING_TOKEN=""


# SOCKET_SERVER_URL="http://localhost:3001"
PUBLIC_SOCKET_URL="http://localhost:3001"
